<footer class="bg-dark text-white pt-4 pb-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>Care Connect</h5>
        <p>Smart healthcare solutions for modern medical needs. Telemedicine, EHR, and virtual health assistants all in one place.</p>
      </div>
      <div class="col-md-4">
        <h5>Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="{% url 'home' %}" class="text-white">Home</a></li>
          <li><a href="" class="text-white">Doctors</a></li>
          <li><a href="{% url 'about' %}" class="text-white">About Us</a></li>
          <li><a href="" class="text-white">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Contact Us</h5>
        <p>Email: <a href="mailto:support@careconnect.com" class="text-white">support@careconnect.com</a></p>
        <p>Phone: +123 456 7890</p>
        <div class="social-icons">
          <a href="#" class="text-white me-2"><i class="bi bi-facebook"></i></a>
          <a href="#" class="text-white me-2"><i class="bi bi-twitter"></i></a>
          <a href="#" class="text-white"><i class="bi bi-instagram"></i></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col text-center mt-3">
        <p>&copy; 2024 Care Connect. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
